footer {
  margin-top: 0;
}
footer > .inner {
  padding-top: 20px;
  background-image: url('http://assets.okfn.org/web/images/footer-bevel-deep.png');
}
.button-bar {
  margin-bottom: 0;
}
.pane {
  background: #f0f;
  height: 600px;
}
.pane > .container {
  position: relative;
}
.pane p {
  position: absolute;
}

.pane1 { background: #fcc; }
.pane2 { background: #ccf; }
.pane3 { background: #c8c; }
.pane4 { background: #cff; }
.pane5 { background: #ffc; }

.pane1 .text1 {
  left: 0px;
  top: 90px;
  font-size: 80px;
  font-family: OpenSansLight;
}
.pane1 .text2 {
  right: 0;
  top: 190px;
  font-size: 60px;
  font-family: OpenSansLight;
}
.pane2 .text1 {
  left: 0px;
  top: 90px;
  font-size: 60px;
  font-family: OpenSansLight;
}
.pane2 .text2 {
  right: 0;
  top: 190px;
  font-size: 80px;
  font-family: OpenSansLight;
}
.pane3 .text1 {
  left: 0;
  top: 50px;
  font-size: 60px;
  font-family: OpenSansLight;
}
.pane3 .title {
  text-align: center;
  padding: 150px 0 30px 0;
  font-size: 50px;
  font-family: OpenSansLight;
}
.pane3 .divider1 { left: 33%; }
.pane3 .divider2 { left: 66%; }
.pane3 .divider {
  width: 2px;
  height: 400px;
  position: absolute;
  top: 130px;
  background: rgba(0,0,0,0.2);
}

.pane4 .text1 {
  left: 0px;
  top: 90px;
  font-size: 60px;
  font-family: OpenSansLight;
}
.pane4 .text2 {
  right: 0;
  top: 190px;
  font-size: 80px;
  font-family: OpenSansLight;
}
.pane5 .text1 {
  left: 0px;
  top: 90px;
  font-size: 60px;
  font-family: OpenSansLight;
}
.pane5 .text2 {
  right: 0;
  top: 190px;
  font-size: 80px;
  font-family: OpenSansLight;
}
